@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css");

@font-face {
  font-family: "Genshin";
  font-style: normal;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: Genshin;
}

.page {
    display: flex;
    flex-direction: column;
}
.page > div:nth-child(1){
    order: 0;
}
.page > div:nth-child(2){
    order: 2;
}
.page > div:nth-child(3){
    order: 1;
}

.block-marker {
  display: none;
}

.foldable-title h1,
.foldable-title .rotating-arrow {
opacity: .90;  /* or whatever */
color: white !important;
}

.foldable-title h1,
.mt-6.page-unlinked {
opacity: .90;  /* or whatever */
color: silver !important;
}

/* 彻底隐藏属性行，让笔记保持绝对干净，像没装插件一样 */
[data-block-list-style-type] > .block-properties {
  display: none !important;
}

/* 确保字母列表能从 a 开始（防止显示为 0） */
.ls-type-number[data-block-list-style-type="lower-alpha"] > .block-children-container > .block-children > .ls-block {
  counter-increment: alpha-list-counter;
}
.ls-type-number[data-block-list-style-type="lower-alpha"] > .block-children-container > .block-children > .ls-block > div > .items-center .lst-number::before {
  content: counter(alpha-list-counter, lower-alpha) ".";
  font-size: 14px;
}
.ls-type-number[data-block-list-style-type="lower-alpha"] > .block-children-container > .block-children > .ls-block > div > .items-center .lst-number {
  font-size: 0;
}


:root {
  --fht-footer-text: var(--ls-page-inline-code-color);
  --fht-hightlight: var(--ls-page-mark-bg-color);
  --fht-label-text: var(--ls-page-inline-code-color);
  --fht-active: var(--ls-quaternary-background-color);
  --fht-active-text: var(--ls-secondary-text-color);
  --fht-scrollbar-thumb: color-mix(in srgb, var(--ls-scrollbar-thumb-hover-color) 50%, transparent);
  --fht-scrollbar-thumb-hover: var(--ls-scrollbar-thumb-hover-color);
}
