@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css");

@font-face {
  font-family: "Genshin";
  font-style: normal;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: Genshin;
}

.page {
    display: flex;
    flex-direction: column;
}
.page > div:nth-child(1){
    order: 0;
}
.page > div:nth-child(2){
    order: 2;
}
.page > div:nth-child(3){
    order: 1;
}

.block-marker {
  display: none;
}

.foldable-title h1,
.foldable-title .rotating-arrow {
opacity: .90;  /* or whatever */
color: white !important;
}

.foldable-title h1,
.mt-6.page-unlinked {
opacity: .90;  /* or whatever */
color: silver !important;
}

/* --- 基础逻辑：自动层级切换 --- */

/* 第一层：默认数字 1. 2. 3. */
.ls-type-number > .block-children-container > .block-children {
  counter-reset: level1;
}
.ls-type-number > .block-children-container > .block-children > .ls-block {
  counter-increment: level1;
}
.ls-type-number > .block-children-container > .block-children > .ls-block > div > .items-center .bullet-container::before {
  content: counter(level1) ".";
}

/* 第二层：自动变字母 a. b. c. */
.ls-type-number .ls-type-number > .block-children-container > .block-children {
  counter-reset: level2-alpha;
}
.ls-type-number .ls-type-number > .block-children-container > .block-children > .ls-block {
  counter-increment: level2-alpha;
}
.ls-type-number .ls-type-number > .block-children-container > .block-children > .ls-block > div > .items-center .bullet-container::before {
  content: counter(level2-alpha, lower-alpha) ".";
}

/* --- 特例处理：强制切换第一层为字母 --- */

/* 如果你在父块输入 #abc，强制其子块（哪怕是第一层）也显示为字母 */
div[data-refs-self*="abc"] > .block-children-container > .block-children > .ls-block > div > .items-center .bullet-container::before {
  content: counter(level1, lower-alpha) "." !important;
}

/* 隐藏 #abc 标签防止碍眼 */
a.tag[data-ref="abc"] {
  display: none !important;
}



:root {
  --fht-footer-text: var(--ls-page-inline-code-color);
  --fht-hightlight: var(--ls-page-mark-bg-color);
  --fht-label-text: var(--ls-page-inline-code-color);
  --fht-active: var(--ls-quaternary-background-color);
  --fht-active-text: var(--ls-secondary-text-color);
  --fht-scrollbar-thumb: color-mix(in srgb, var(--ls-scrollbar-thumb-hover-color) 50%, transparent);
  --fht-scrollbar-thumb-hover: var(--ls-scrollbar-thumb-hover-color);
}
