@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css");

@font-face {
  font-family: "Genshin";
  font-style: normal;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: Genshin;
}

.page {
    display: flex;
    flex-direction: column;
}
.page > div:nth-child(1){
    order: 0;
}
.page > div:nth-child(2){
    order: 2;
}
.page > div:nth-child(3){
    order: 1;
}

.foldable-title h1,
.foldable-title .rotating-arrow {
opacity: .90;  /* or whatever */
color: white !important;
}
