{:highlights [{:id #uuid "677d0c5b-3479-4f36-b598-7f4def391f2b",
               :page 2,
               :position {:bounding {:x1 667.37939453125,
                                     :y1 963.5604286193848,
                                     :x2 667.3862915039062,
                                     :y2 971.4476356506348,
                                     :width 700.9999999999999,
                                     :height 991.117670763651},
                          :rects ({:x1 667.37939453125,
                                   :y1 963.5604286193848,
                                   :x2 667.3862915039062,
                                   :y2 971.4476356506348,
                                   :width 700.9999999999999,
                                   :height 991.117670763651}),
                          :page 2},
               :content {:text nil},
               :properties {:color "red"}}],
 :extra {:page 4}}
