{:highlights [{:id #uuid "677d0c5b-3479-4f36-b598-7f4def391f2b",
               :page 2,
               :position {:bounding {:x1 667.37939453125,
                                     :y1 963.5604286193848,
                                     :x2 667.3862915039062,
                                     :y2 971.4476356506348,
                                     :width 700.9999999999999,
                                     :height 991.117670763651},
                          :rects ({:x1 667.37939453125,
                                   :y1 963.5604286193848,
                                   :x2 667.3862915039062,
                                   :y2 971.4476356506348,
                                   :width 700.9999999999999,
                                   :height 991.117670763651}),
                          :page 2},
               :content {:text nil},
               :properties {:color "red"}}
              {:id #uuid "677d0d5d-15d9-4729-8b9b-2ce3c6b547f1",
               :page 1,
               :position {:bounding {:x1 40.89433670043945,
                                     :y1 272.5193786621094,
                                     :x2 83.26321411132812,
                                     :y2 283.9119873046875,
                                     :width 860,
                                     :height 1215.9218214789444},
                          :rects ({:x1 40.89433670043945,
                                   :y1 272.5193786621094,
                                   :x2 83.26321411132812,
                                   :y2 283.9119873046875,
                                   :width 860,
                                   :height 1215.9218214789444}),
                          :page 1},
               :content {:text "Policy No"},
               :properties {:color "yellow"}}
              {:id #uuid "678738a0-9183-48ac-b989-5767607961c5",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text "Page"},
               :properties {:color "yellow"}}
              {:id #uuid "678738a1-9ba3-47bd-9293-1896532dc35d",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738b8-63e7-4781-a0e9-978edad7b477",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738b8-c4a1-41a1-9974-59f03ee7c047",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738b9-daa7-44e1-9d96-1bc85123bdac",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738bf-9445-4f59-8b52-b6bb4f581e00",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text "Page"},
               :properties {:color "yellow"}}
              {:id #uuid "678738cd-e95f-4765-a364-37c4f1f701a4",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738d2-cf75-44dd-b2fa-8880718230b2",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "678738d3-724b-4869-808a-b4e7d5582173",
               :page 2,
               :position {:bounding {:x1 624.9140625,
                                     :y1 953.8671875,
                                     :x2 641.2385864257812,
                                     :y2 961.8671875,
                                     :width 693.9999999999999,
                                     :height 981.2206326818456},
                          :rects ({:x1 624.9140625,
                                   :y1 953.8671875,
                                   :x2 641.2385864257812,
                                   :y2 961.8671875,
                                   :width 693.9999999999999,
                                   :height 981.2206326818456}),
                          :page 2},
               :content {:text "Page"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
